[user]
	name = Paul Shivers
	email = PaulSShivers@gmail.com

[core]
	editor = micro
	autocrlf = input
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true

[fetch]
	prune = true

[diff]
	colorMoved = zebra

[merge]
	conflictstyle = diff3

[alias]
	# # Status and info
	# st = status
	# s = status -sb

	# # Staging
	# a = add
	# aa = add --all
	# ap = add --patch

	# # Committing
	# c = commit
	# cm = commit -m
	# ca = commit --amend
	# can = commit --amend --no-edit

	# # Branching
	# b = branch
	# ba = branch -a
	# bd = branch -d
	# bD = branch -D

	# # Checking out
	# co = checkout
	# cob = checkout -b

	# # Diffing
	# d = diff
	# ds = diff --staged
	# dw = diff --word-diff

	# # Logging
	# l = log --oneline --graph --decorate
	# la = log --oneline --graph --decorate --all
	# lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	# last = log -1 HEAD --stat

	# # Remote
	# p = push
	# pl = pull
	# pf = push --force-with-lease
	# f = fetch

	# # Stashing
	# stash-all = stash save --include-untracked

	# # Undoing
	# unstage = reset HEAD --
	# undo = reset --soft HEAD^

	# # Misc
	# aliases = config --get-regexp alias
	# contributors = shortlog --summary --numbered

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = green
	changed = yellow
	untracked = red

[help]
	autocorrect = 1
